h1{
	margin-left: 20px;
	padding-left: 20px;
	opacity: 1;
}
.ProductCard{
	border: 1px solid lightgray;
	width: 300px;
	height: 350px;
	text-align: center;
	display: inline-block;
	margin: 10px 20px;
	background: white;
}
.ProductCard div{
	margin-top: 10px;
}
.price{
	display: flex;
	justify-content: center;
	margin-bottom:20px;
}
.price div{
	margin-right: 10px;
}

.discount{
	text-decoration: line-through;
}

.ProductCard:hover{
	cursor: pointer;
}
