.picHover{
	display: flex;
	margin: 40px 70px;
	flex-wrap: wrap;
	/*border: 2px solid black;*/
	justify-content: center;
}

.Div1{
	/*margin-right: 20px;
	margin-left: 20px;*/
	display: flex;
	flex-direction: column;
	margin-bottom: 30px;
	/*border: 2px solid black;*/
	overflow: hidden;
}
.together{
	display: flex

}
.img1{
	width: 550px;
	height: 270px;
	background-image: url("https://p.w3layouts.com/demos_new/13-02-2017/super_market-demo_Free/405423547/web/images/p2.jpg");
	background-size: cover;
	background-position: center;
	margin-bottom: 35px;
}
.img2{
	margin-right: 26px;
	width: 262px;
	height: 250px;
	background-image: url("https://p.w3layouts.com/demos_new/13-02-2017/super_market-demo_Free/405423547/web/images/p3.jpg");
	background-size: cover;
	background-position: center;

}
.img3{
	width: 262px;
	height: 250px;
	background-image: url("https://p.w3layouts.com/demos_new/13-02-2017/super_market-demo_Free/405423547/web/images/p4.jpg");
	background-size: cover;
	background-position: center;

}
.img4{
	display: flex;
	width: 500px;
	height: 555px;
	background-image: url("https://p.w3layouts.com/demos_new/13-02-2017/super_market-demo_Free/405423547/web/images/111.jpg");
	background-size: cover;
	background-position: center;
	overflow: hidden;
}

.bgImg:hover{
	transform: scale(1.1);
	/*transition: transform 6s cubic-bezeir(0.25,0.45,0.45,0.95);*/
	transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-delay: 0s;
    /*overflow: hidden;*/

}
.outter{
	overflow: hidden;
}
